@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
    --bg: #100e24;
    --fc: #eeeeee;

    --primario: #f62b48;
    --secundario: #71bf9f;
    --terciario: #6575b6;

    --degrade: -webkit-linear-gradient(0deg, #f8b383, #ed1e79);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--bg);

    .maincontainer {
        &.todoInput {
        }
        &.todoContainer {
        }
        & .select {
        }
    }
}
